body {
  margin: 0;
  font-family: 'Muli', sans-serif; 
}
.header{
  align-items: center;
  background-color: #21C08B;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
}
.header__img
{
  margin-left: 30px;
  width: 200px;
  margin-top: 10px;
}
.login
{
  background: linear-gradient(#21C08B,#AB88FF);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px 30px;
  min-height: calc(100vh - 200px); /*leer*/

}
.login__container
{
  background-color: rgba(255,255,255, 0.1);
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  padding: 60px 68px 40px;
  min-height: 700px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;

}
.login__container--form
{
  display: flex;
  flex-direction: column;

}

/*Los estilos de los input y el boton fueron agregados casi de ultimo
pero segun la teoria, deberian ir colocados aqui
------------------------------------------------------------------------*/

.input
{
  color: white;
  background-color: transparent;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 2px solid white;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0px 20px;
  height: 50px;
  outline: none;
}
.input::placeholder
{
  color: white;
  
}
.button
{
  background-color: rgba(255,255,255, 0.3);
  border:none;
  border-radius: 25px;
  height: 50px;
  color: white;
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0px;

}
/*------------------------------------------------------------------------*/

.login__container--rememberMe 
{
  color: white;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 14px;
}
.login__container--rememberMe label
{
  font-size: 13px;
 
}
.login__container--rememberMe a
{
  font-size: 13px;
  color: white;
  text-decoration: none;
}
.login__container--rememberMe a:hover
{
  text-decoration: underline;
}

.login__container--social-media
{
  margin-top: 30px;
  align-self:center;
}
.login__container--social-media > div
{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
  
}
.login__container--social-media > div > img
{
  width: 30px;
  margin-right: 10px;
  
}
.login__container--register
{
  align-self:center;
  font-size: 14px;
}
 
.login__container--register a
{
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover
{
  text-decoration: underline;
}

.footer
{
  background: #AB88FF;
  display: flex;
  height: 100px; 
  align-items: center;
  width: 100%;
  
}
.footer a
{
  color: white;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer; 
  padding-left: 30px;
  
}
.footer a:hover
{
  text-decoration: underline; 

}
@media only screen and (max-width:600px){
  .login__container
  {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100%;
  }
  .footer
  {
    /* align-items: flex-start; */
    flex-direction: column;
  }
} 
